*{
margin:0;
padding:0;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
body {
  margin: 0;
  background-image: url("./desktop-icons/wallpaper.jpg");
  background-size: cover;
  background-position: center;
 font-family: 'Poppins', sans-serif;
  height: 100vh;
  overflow: hidden;
}
.desktop {
   display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 40px);
  padding: 20px;
  align-content: flex-start;
}
.icon {
  text-align: center;
  width: 80px;
  margin-bottom: 12px;
  cursor: pointer;
}
.icon img {
  width: 50px;
  height: 50px;
}
.icon:hover {
  background: rgba(255,255,255,0.2);
  border-radius: 8px;
}
.desktop p {
  font-size: 14px;
  color: #ffffff;
  text-shadow: 0px 0px 3px #1a1919;
}
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #1a1919;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.taskbar img{
  width: 30px;
}
.taskbar-left, .taskbar-middle, .taskbar-right{
  display: flex;
  align-items: center;
  gap:10px;
}
.taskbar-right .info{
  display: flex;
  gap:2px;
}
.taskbar i{
  font-size: 18px;
}
.time{
  font-size: 12px;
  text-align: end;
  margin-left: 10px;
}
.start-btn {
  width: 28px;
  cursor: pointer;
  margin-right: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #555;
  padding: 8px 12px;
  border-radius: 50px;
  transition: background-color 0.2s, box-shadow 0.2s;
  margin: 5px;
}
.search-bar i {
  font-size: 18px;
  color: #f0f0f0;
}
.search-bar input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
}
.search-bar input::placeholder{
  color: #f0f0f0;
}
.start-menu {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 530px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  animation: fade-in 0.3s;
  z-index: 1000;
}
.menu-item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px 15px;
  margin: 20px;
}
.menu-app {
  width: 70px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu-app img {
  width: 40px;
  height: 40px;
}
.menu-app p {
  margin-top: 6px;
  font-size: 12px;
  color: #333
}
.menu-bottom{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  background-color: #1a1919e3;
  color: #f0eded;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.menu-bottom i {
  font-size: 20px;
}
.bottom-left{
  display: flex;
  gap: 5px;
}
.click-menu{
  width: 200px;
  height: 260px;
  background-color: #1a1919;
  color:#f0eded;
  font-size: 22px;
  font-weight: 100;
  position: fixed;
  border-radius: 5px;
  display: none;
}
.items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.left{
  display: flex;
  align-items: center;
  gap: 5px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px) }
  to   { opacity: 1; transform: translateY(0) }
}
